{% extends 'base.html' %}

<!-- This is necessary to be able to use the static template tag below. -->
{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This site showcases many of web development practices we use at Haverford College Digital Scholarship.</p>
  <hr class="my-4">
  <p>Welcome to our custom Django tutorial! This is made to supplement the <a href="https://www.djangoproject.com/"> main Django tutorial</a> and provide both a more realistic and customized introduction to Django. It is a pretty rare occasion that you will <em>start</em> a Django project. Most of the time, you will start working on a project that already exists. This site aims to provide both a "showcase" and a "sandbox" for you to look around, play with, and learn. There will be specific instructions along the way to guide you, and all of the code should be commented nicely!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}
