{% extends 'base.html' %}

<!-- This is necessary to be able to use the static template tag below. -->
{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This site showcases many of web development practices we use
  at Haverford College Digital Scholarship.</p>
  <hr class="my-4">
  <p>The site runs on the <a href="https://djangoproject.com">Django web framework</a>
  with Python.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}
